<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="bower_components/chartist/dist/chartist.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="pageweb.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styleAccueil.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
   
      #titre {
        padding:2em;
        text-align: center;
      }
      h4{
        color:white;
      }
      #titre h1 {
          color: #259422;
      }
      #titre p {
          color: #000;
          font-size: 1.3rem;
          line-height: 1.5;
      }
      #legende{
        color:white;
        text-align: center;
        font-size: 1.3rem;
      }
      #legende1{
        margin:0;
        color: #259422;

      }
      #legende2{
        margin:0;
        color: brown;

      }
      

      .container{
        background-color: #243C54;
        min-width: 100%;
        min-height: 100%;
      }
      #titre2  {
        text-align: center;
        margin:2rem;
        color: #50e632;
        margin-bottom:2%;
      }
      #consignes{
        text-align: justify;
        margin-left: 2%;
        margin-right: 5%;
        color: white;
      }
      
      #chartSelect{
        border-radius: 5px;
        width: 50%;
        margin-top: 5%;
      }
      #chartSelect option
      {
          color:brown;
      }
   
      #chartSelect option[value="2"]
      {
        color:#259422;
      }
      #chartSelect option[value="6"]
      {
        color:#259422;
      }
      #chartSelect option[value="11"]
      {
        color:#259422;
      }

      #chartSelect3{
        border-radius: 5px;
        width: 50%;
        margin-top: 5%;
      }
      #chartSelect3 option
      {
          color:brown;
      }
   
      #chartSelect3 option[value="2"]
      {
        color:#259422;
      }
      #chartSelect3 option[value="6"]
      {
        color:#259422;
      }
      #chartSelect3 option[value="11"]
      {
        color:#259422;
      }
     
      
      .formulaireNote{
        margin: 3%;
        color: #fff;
      }      
       
      #bouton{
        width: 90%;
        height: 50%;
        position: right;
        margin: auto;
        border-radius: 5px;
      }
      #chartInput{
        width: auto;
        height: 80%;
        font-size: 1rem;
        background-color: white;
      }

      #chartInput2{
        width: auto;
        height: 80%;
        font-size: 1rem;
        background-color: white;
      }
   
      #imputationSelect{
        border-radius: 5px;
        width: 50%;
        margin-top: 5%;

      }
      .container2{
        background-color: #fff;
        min-width: 100%;
      
        text-align: center;
      }
      .container2 h2{
        color: #259422;
      }
      #chartPredict{
        text-align: center;
              
        font-size: 1rem;
        background-color: white;
      
      }
      .ct-chart .ct-series-b .ct-line {
        stroke: black; 
      }
      .ct-chart .ct-series-b .ct-point {
        stroke: black;
    
      }


      #img_modele1{
        text-align: center;
        margin:auto;
        width: 100%;


      }
      #form {
        text-align: justify;
        margin: 3%;
      }

      #select{
        width: 20%;
        height: 20%;
        background-color: white;

        margin: auto;
        border-radius: 5px;
      }
  

      .form-part {
        text-align: left;
        margin: 2px;
        color: white;
        display: none;
      }

      #form[data-choice="1"] .p1, 
      #form[data-choice="2"] .p2, 
      #form[data-choice="3"] .p3{
          display: block;
      }

    
      
    </style>
  </head>

  <body>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
   

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('accueil')}}">Accueil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{{ url_for('courbes')}}">La techno<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active" href="{{ url_for('equipe')}}">Equipe</a>
              <a class="nav-item nav-link active" href="{{ url_for('contact')}}">Contact</a>
            
          </div>
      </div>
    </nav>
    
    <div id="titre">
      <h1>Application du réseau de neurones</h3>
  
    </div>
  
    <div class="container">
      <div class="row">
        <h3 id="titre2">Choisir un format de saisie de données :</h3>
        <h4 id="consignes"> Utilisez le forumaire ci-dessous pour créer une nouvelle donnée fonctionnelle d'entrée . Ciquez sur le bouton vert pour reconstruire et visualiser cette donnée. </h4>
      </div>
      
  
  
      
      <form id="form" action="{{ url_for('pred')}}" enctype="multipart/form-data"  method="post">
        <br>
        <br>
        
        <select name="select" id="select" onchange="this.parentNode.dataset.choice = this.value;">
          <option value="0">Choisir le type de saisie</option>
          <option value="1">Imputation présélectionnée</option>
          <option value="3">Imputation choisie</option>
          <option value="2">Données saisies manuellement en CSV</option>
          
        </select>
       
        <br>
        <br>
        <div class="row inputData">
         
          
          <div class="col-sm-3 formulaire" > 
  
              <div class="form-part p1">
                <h4>Imputation présélectionnée </h4>
                  <div id="choix_type_function">
                  <br>
                  <br>
                 
                    <h5>Choisir une fonction</h5> 
                    <select id="chartSelect"  name="chartSelect1" >
                      <option value="1">x**2</option>
                      <option value="2">x**5 - x**3</option>
                      <option value="3">-exp(x)</option>
                      <option value="4">2*exp(x)</option>
                      <option value="5">2*(x)</option>
                      <option value="6">-sqrt(x)</option>
                      <option value="7">+sqrt(x)</option>
                      <option value="8">sin(x)</option>
                      <option value="9">cos(x)</option>
                      <option value="10">-tan(x)</option>
                      <option value="11">sin(x)+cos(x)</option> 
                    </select>
                    <br>
                 
                    <p id="legende1">Fonction utilisée à l'entrainement</p>
                    <p id="legende2">Fonction non utilisée à l'entrainement</p>
                  </div>
  
                
                  <div id="frequence_range1" class="d-none">
                    <h5>Choisir une fréquence pour la fonction : </h5> 
                    <input type="range" style="width:80%" class="form-range" name="frequence1" value="1"/>
                  </div>
  
                  <div id="frequence_range2" class="d-none">
                    <h5>Choisir une deuxième fréquence pour la somme de fonctions : </h5> 
                    <input type="range" style="width:80%" class="form-range" name="frequence2" value="1"/>
  
                  </div>               
                 
                  <br>
                  <div id="choix_type_cut">
                    <h5>Choisir une imputation</h5> 
                      <select id="imputationSelect"  name="imputationSelect">
                        <option value="1">1-11</option>
                        <option value="2">11-19</option>
                        <option value="3">19-28</option>
                        <option value="4">28-37</option>
                        <option value="5">37-46</option>
                        <option value="6">46-50</option>
                      </select>
                  </div>
                  <br>
                  <br>
                  <h5>Saisir une quantité de bruit :</h5> 
                  <br>
                  <input type="range" style="width:80%" class="form-range" name="customRange1" value="25"/>
                  <br>
                  <br>
                  <button class="but1 btn-success btn-pull-right" id="bouton" type="submit" >Choisir et reconstruire fonction </button><br>
  
              </div>
              
              <div class="form-part p2">
                <h4>Données saisies manuellement en CSV </h4>
                
                <br>
                <h5>(liste de données de 50 points)</h5>
                <h6>Exemple de fichier CSV <a href="https://drive.google.com/file/d/11854-s1B1ryNyESC7UrOpV37mt5Pxyse/view?usp=sharing">ici</a></h6>
                
                <br>
                <input type="file" accept=".csv" name="fichierCSV">
                <br>
                <br>
                <button class="but1 btn-success btn-pull-right" id="bouton" type="submit" >Choisir et reconstruire fonction </button><br>
  
              </div>
               
              <div class="form-part p3">
                <h4>Imputation choisie </h4>
                <div id="choix_type_function">
                <br>
                  <h5>Choisir une fonction</h5> 
                  <select id="chartSelect3"  name="chartSelect3" >
  
                    <option value="1">x**2</option>
                    <option value="2">x**5 - x**3</option>
                    <option value="3">-exp(x)</option>
                    <option value="4">2*exp(x)</option>
                    <option value="5">2*(x)</option>
                    <option value="6">-sqrt(x)</option>
                    <option value="7">+sqrt(x)</option>
                    <option value="8">sin(x)</option>
                    <option value="9">cos(x)</option>
                    <option value="10">-tan(x)</option>
                    <option value="11">sin(x)+cos(x)</option>
                  </select>
                  <p id="legende1">Fonction utilisée à l'entrainement</p>
                  <p id="legende2">Fonction non utilisée à l'entrainement</p>
                </div>
  
                <div id="frequence_range31" class="d-none">
                  <h5>Choisir une fréquence pour la fonction : </h5> 
                  <input type="range" style="width:80%" class="form-range" name="frequence31" value="1"/>
                </div>
  
                <div id="frequence_range32" class="d-none">
                  <h5>Choisir une deuxième fréquence pour la somme de fonctions : </h5> 
                  <input type="range" style="width:80%" class="form-range" name="frequence32" value="1"/>
  
                </div> 
  
                <br>
                <br>          
                <h5>Saisir un indice* pour le début de l'imputation : </h5> 
              
                <input type="text" name="indiceStart3" value="10" />
                <br>
                <br>
                <h5>Saisir un indice* pour la fin de l'imputation : </h5> 
           
                <input type="text" name="indiceStop3" value="20" />
                <br>
  
                <p>*indice entre 1 et 50 </p>
                
                <h5>Saisir une quantité de bruit :</h5> 
                <input type="range" style="width:80%" class="form-range" name="customRange3" value="25"/>
                <br>
                <br>
  
                <button class="but1 btn-success btn-pull-right" id="bouton" type="submit" >Choisir et reconstruire fonction </button><br>
  
              </div>
             
            </div>
            
          <div class="col-sm-9">
            <div id="legende">
              <h5> Type de courbe à reconstruire : {{type_courbe}}.  Indices d'imputation : {{indice_imputation}}. Bruit :{{qte_bruit}}%.
              <div id="legende_frquence1"> Fréquence : {{frequence1}}</div>
              <div id="legende_frquence1"> Fréquence 2 : {{frequence2}} </div> </h5>

              
            </div>
            <br>
            <div id="chartInput"  style="border-radius: 5px;" class="ct-chart2 ct-perfect-fourth ct-square"></div> 
            <div id="chartInput2"  style="border-radius: 5px;" class="ct-chart3 ct-perfect-fourth ct-square d-none"></div> 
     
            <p style="text-align: center;color: #fff;text-decoration: underline;">Visualisation de la courbe rentrée dans l'algorithme</p> 
          </div>
        </div>
      </form> 
      

    </div> 
      <div class="container2">
        <h2 id="titre3"> Reconstruction : </h2> <br>
        <h5> Type de courbe reconstruite  : {{type_courbe}}. Indices de reconstruction :  {{indice_imputation}}. Bruit :{{qte_bruit}}%.  Fréquence : {{frequence1}} Fréquence 2 : {{frequence2}}   </h5>
      
        <div class="row"style="margin-left: auto; margin-right: auto; width: 90%; height: 80%;">
          <div id="chartPredict" style="border-radius: 5px;" class="ct-chart ct-octave"></div> 
        </div>
        <p style="text-align: center;color: #000;text-decoration: underline;">Visualisation de la courbe de prédiction</p>  
        <h5> Modèle utilisé :  </h5>
        <!-- <img id="img_modele" src="{{url_for('static', filename= 'img/modeleFixe0.png' ) }}" />
        -->
        <img id="img_modele1" src="{{url_for('static',filename='img/vide.png')}}" />

               
        <br>
        <br>
  
      </div> 

      <script type="text/javascript">
   
        document.getElementById("chartSelect").addEventListener("change",affiche_masque);
        document.getElementById("chartSelect3").addEventListener("change",affiche_masque3);

    
        function affiche_masque3(event){
          var value_charselect = document.getElementById("chartSelect3").value
          value_charselect= parseFloat(value_charselect)
    
          switch (value_charselect) {
            case 8:
              event.preventDefault();//charrger sur la même page 
              masque("frequence_range32");
              affiche("frequence_range31");             
              break;
            case 9:
              event.preventDefault();//charrger sur la même page 
              masque("frequence_range32");
              affiche("frequence_range31");        
              break;
            case 10:
              event.preventDefault();//charrger sur la même page 
              masque("frequence_range32");
              affiche("frequence_range31");
              break;
    
            case 11:
              event.preventDefault();//charrger sur la même page 
              affiche("frequence_range32");
              affiche("frequence_range31");
              break;
            
            default:
              event.preventDefault();//charrger sur la même page 
              masque("frequence_range32");
              masque("frequence_range31");
            
            }
        }
            
    
        function affiche_masque(event){
          var value_charselect = document.getElementById("chartSelect").value
          value_charselect= parseFloat(value_charselect)
    
          switch (value_charselect) {
            case 8:
              event.preventDefault();//charrger sur la même page 
              masque("frequence_range2");
              affiche("frequence_range1");
             
              
             
              break;
            case 9:
              event.preventDefault();//charrger sur la même page 
              masque("frequence_range2");
              affiche("frequence_range1");
            
    
              break;
            case 10:
              event.preventDefault();//charrger sur la même page 
              masque("frequence_range2");
              affiche("frequence_range1");
              break;
    
            case 11:
              event.preventDefault();//charrger sur la même page 
              affiche("frequence_range2");
              affiche("frequence_range1");
              
              
              break;
              
    
            default:
              event.preventDefault();//charrger sur la même page 
              masque("frequence_range2");
              masque("frequence_range1");
             
            
            }
        }
    
        function masque(id){
          let element = document.getElementById(id);
          //console.log("masque element=",element)
          element.classList.add("d-none"); // si id existe on le supprime sinon on l'ajoute
    
        }
        function affiche(id){
          let element = document.getElementById(id);
          console.log("affiche element=",element)
        
          element.classList.remove("d-none"); // si id existe on le supprime sinon on l'ajoute
    
        }
              
    
        var list_data = {{ finale_prediction|default("")|tojson }} //Redefined here as a js variable
        var list_data_input = {{ fonction_cut|default("")|tojson }}
        var list_data_global_reconstruction = {{ globale_reconstruction|default("")|tojson }}
    
        window.onload = function () { chart_input(); chart_input2();chart_predict(); };

        function chart_predict(){
            var tab=new Array();
            var new_tab=new Array();
          
            for (let i = 0; i < 50; i++) {
                tab[i]=parseFloat(list_data[i])   
                new_tab[i]=parseFloat(list_data_input[i]) 
            }
            
            
            // As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
            // as you saw in the previous example
            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object. As a third parameter we pass in our custom options.
            new Chartist.Line('.ct-chart', {
                labels: [],
                series: [new_tab,tab ]
              });
        }

        function chart_input(){
            
            var input_data=new Array();
          
            for (let i = 0; i < 50; i++){
                input_data[i]=parseFloat(list_data_input[i])   
                
            }
            
            var data = {
            // A labels array that can contain any sort of values
            labels: [],
            // Our series array that contains series objects or in this case series data arrays
            series: [
            input_data
            ]
            };
            // As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
            // as you saw in the previous example
            
            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object. As a third parameter we pass in our custom options.
            new Chartist.Line('.ct-chart2', data);
            
        }

        function chart_input2(){
            
            var input_data_global_predict=new Array();
          
            for (let i = 0; i < 50; i++){
                input_data_global_predict[i]=parseFloat(list_data_global_reconstruction[i])   
                
            }
            
            var data = {
            // A labels array that can contain any sort of values
            labels: [],
            // Our series array that contains series objects or in this case series data arrays
            series: [
            input_data_global_predict
            ]
            };
            // As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
            // as you saw in the previous example
            
            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object. As a third parameter we pass in our custom options.
            new Chartist.Line('.ct-chart3', data);
            
        }

    }
          

    var list_data = {{ finale_prediction|default("")|tojson }} //Redefined here as a js variable
    var list_data_input = {{ fonction_cut|default("")|tojson }}

    window.onload = function () { chart_input(); chart_predict(); };
  
    var indice_modele =  {{ modele|default("")|tojson }}
    indice_modele= parseFloat(indice_modele)
  
    //console.log(" indice_modele =", indice_modele)

    switch (indice_modele) {
      case 1:
        document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";

        //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_1.png')}}";
        break;
      case 2:
        document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";

        //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_2.png')}}";
        break;
      case 3:
        document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";

        //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_3.png')}}";
        break;
      case 4:
        document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";

        //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_4.png')}}";
        break; 
      case 5:
        //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_5.png')}}";
        document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";

        break;  
      case 6:
        //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_6.png')}}";
        document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
        break;
      case 7:
        document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
      
        var indice_modele =  {{ modele|default("")|tojson }}
        indice_modele= parseFloat(indice_modele)
      
        //console.log(" indice_modele =", indice_modele)
        
        switch (indice_modele) {
          case 1:
            document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
    
            //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_1.png')}}";
            break;
          case 2:
            document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
    
            //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_2.png')}}";
            break;
          case 3:
            document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
    
            //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_3.png')}}";
            break;
          case 4:
            document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
    
            //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_4.png')}}";
            break; 
          case 5:
            //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_5.png')}}";
            document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
    
            break;  
          case 6:
            //document.getElementById("img_modele1").src = "{{url_for('static',filename='img/modeleFixe_6.png')}}";
            document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
            break;
          case 7:
            document.getElementById("img_modele1").src = "{{url_for('static',filename='img/FinalModele.png')}}";
          
    
            break;
    
          default:
            document.getElementById("img_modele1").src = "{{url_for('static',filename='img/vide.png')}}";
          }
        
        
    
         

      </script>
      <script src="bower_components/chartist/dist/chartist.min.js"></script>   
  </body>

</html>